extends layout

//- block content
//-   h1= title
//-   p Welcome to #{title}

block content
  h1= 'Plant Updates'
  img.className#IdName(src="/images/PLANT_LIFE.jpg" alt="Plant Life")
  table
      tr
        th= '#'
        th= 'Name'
        th= 'Temp.'
        th= 'Hum.'
        th= 'Moist.'
        th= 'Light'
        th= 'Loc.'
        th= 'Timestamp'
        for update in updates
          tr
            td= update.id
            td
              a(href='#') #{update.name}
            td= update.temperature
            td= update.humidity
            td= update.moisture
            td= update.light
            td= update.location
            td= update.created_at